= simple_form_for :search, url: {controller: :searches, action: :show}, method: :get do |f|
  %fieldset
    = f.input :user_handle,
      as: :search,
      label: 'Search User Handle'
    %button Search
