= simple_form_for :search, url: {controller: :searches, action: :show}, method: :get do |f|
  %fieldset
    = f.input :user_handle,
      as: :search,
      label: 'Search User Handle'
    %button Search

- if @tweets.present?
  - if @tweets.count == 0
    No popular tweets
  - else
    %ul
      - @tweets.each do |tweet|
        - tweet_html = @client.oembed(tweet, hide_media: true, hide_thread: true).html.html_safe rescue nil
        - if tweet_html.present?
          %li
            = @client.oembed(tweet).html.html_safe
          %span
            = (tweet.favorite_count + tweet.retweet_count)/(100)*100
