/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
LISTS
*/

.list--no-bullet {
  list-style-type: none;
}

.list--two-columns {
  padding: 10px;
}

.list--two-columns:nth-of-type(even) {
  background-color: #f8f8ff;
}

.list--two-columns .column-one {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}
.list--two-columns .column-two {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
